@CHARSET "UTF-8";

img {
	width: 40%;
}

* {
	font-family: 'PT Sans', sans-serif;
}

nav {
	display: block;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(124, 85, 214);
	color: white;
	font-size: 20px;
}

nav li {
	float: left;
}

nav ul li:last-child {
	float: right;
	padding: 18px 20px;
}

nav a {
	display: block;
	padding: 18px 20px;
	color: white;
	text-align: center;
	text-decoration: none;
}

nav a:hover {
	background-color: rgb(123, 209, 193);
}

table {
	border-collapse: collapse;
	table-layout: fixed;
	width: 60%;
	background-color: rgb(241, 239, 244);
	margin-left:auto; 
    margin-right:auto;
}

table, th, td {
	border: 1px solid black;
}

table th {
	height: 30px;
	background-color: rgb(177, 226, 239);
	font-size: 16px;
	font-weight: bold;
}

table img {
	display: block;
	margin: auto;
	width: 40%;
}

#parent {
	max-width: 70%;
	margin: auto;
}
#left {
	float:left;
	width: 30%;
}
#middle {
	float:left;
	width: 30%;
}
#right {
	float:left;
	width: 30%;
}

.button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}